<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#f44336">
    <title>JustTheJob</title>

    <!-- CSS  -->
    <link href="{{ STATIC_URL }}css/materialize.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/materialize.min.js"></script>
    <style type="text/css">
        .brand-logo{position:absolute;color:#fff;display:inline-block;font-size:2.1rem;font-style:normal;font-weight:100;padding:0;letter-spacing:7px}
    </style>
    <script type="text/javascript">
      function clickbut(){
        alert('logout');
      }
        $(document).ready(function(){
    $('ul.tabs').tabs();
  });
      function onclickbut(v){
        document.getElementById("nig").value=v;
        document.getElementById("submitbut").click();
      }  
    </script>
    
</head>
<body class="grey lighten-4">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">JustTheJob</a>
      <ul class="right hide-on-med-and-down">
        <li><a onclick="clickbut()">Logout</a></li>
      </ul> 
    </div>
  </nav>
  <br><br>
    <div class="row">
        <div class="col s12">
          <ul class="tabs">
          {% for jobposting,applicants in jobpostings.items %}
            <li class="tab col s3"><a href="#{{ jobposting }}">{{ jobposting }}</a></li>
          {% endfor %}
          </ul>
        </div>
        {% for jobposting,applicants in jobpostings.items %}
        <div id="{{ jobposting }}" class="col s12">
          <h4 class="black-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your Applications </h4>
          <br>
          <table id = "info" class="bordered striped centered ">
            <thead>
              <tr>
                  <th data-field="date">Date</th>
                  <th data-field="status">Application Status</th>
                  <th data-field="status">Quiz Score</th>
                  <th data-field="profile">Profile</th>
              </tr>
            </thead>

            <tbody>
            <tr>
             {% for applicant in applicants %}

             <td>
                {{ applicant.0 }}
             </td>
            <td>
                {{ applicant.1 }}
            </td>
            <td>
                {{ applicant.2 }}
            </td>
            <td>
                <a onclick="onclickbut('{{ applicant.3 }}')"> {{ applicant.3 }} </a>
            </td>

            {% endfor %}
        </tr>
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div> 
<div id="fag" style="display: none;">
    <form method="post" action="showresume">
        <input type="hidden" value="random" name="username" id="nig">
        <input type="submit" id="submitbut" value="random"/>
    </form>
</div>

</body>
</html>