<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>JustTheJob</title>
    {% load staticfiles %}
    <!-- CSS  -->
    <link href="{{ STATIC_URL }}min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}min/custom-min.css" type="text/css" rel="stylesheet" >
    <script type="text/javascript">
        {% if message == 1 %}
            alert("Thank you for your feedback. Our administrator will contact you if needed");
        {% endif %}
    </script>
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">JustTheJob</a>
                <ul class="right hide-on-med-and-down">
                	<li><a href="/authentication/login">Get Started</a></li>
                    <li><a href="#intro">Service</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">Service</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Made</span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">by engineers</b>
                <b>for engineers</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> Just The Job aims to automate the job hunting and hiring process in the most <span class="span_h2"> efficient and accurate way  </span>possible. What sets us apart is the <span class="span_h2"> automation</span>
                of the entire process and also a one of a kind <span class="span_h2"> recommendation system.</span> </h2>
            </div>
            <!--
            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Lightning fast matching</h5>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">User Experience Focused</h5>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption"></h5>
                </div>
            </div>
            -->
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="{{ STATIC_URL }}img/parallax1.png"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Our Team </h2>
        <div class="row">
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/aarti.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Aarti J<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Captain</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/kai.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Karthik R<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Freeloader</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/mat.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Aishwarya M <br/>
                            <small><em><a class="red-text text-darken-1" href="#">Web Scraper</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/jay.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jay T<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Django Expert</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/agarwal.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Aditya Agarwal<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Stud</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/jindal.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Abhishek J<br/>
                            <small><em><a class="red-text text-darken-1" href="#">The Match Maker</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/Prithvi.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Prithvi K<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Android Developer</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/drithi.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Dhrithi C<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Fan Hater</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/aravind.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">C.M.Aravind<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Front End Developer</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/devaraj.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Devaraj<br/>
                            <small><em><a class="red-text text-darken-1" href="#">*Unknown*</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/areeb.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Areebuddin S<br/>
                            <small><em><a class="red-text text-darken-1" href="#">King of Marketing</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/akshay.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">V Akshay<br/>
                            <small><em><a class="red-text text-darken-1" href="#">*Unknown*</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ STATIC_URL }}img/ani.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Anirudha T<br/>
                            <small><em><a class="red-text text-darken-1" href="#">*Unknown*</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" method="post" action="">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="white-text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="white-text">Email-id</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">justthejob.com</h5>
                <ul>
                    <li><a class="white-text" href="#">Home</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" href="">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="#">SE Team 1</a>.
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="{{ STATIC_URL }}min/plugin-min.js"></script>
    <script src="{{ STATIC_URL }}min/custom-min.js"></script>

    </body>
</html>
