<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>JustTheJob</title>

    <!-- CSS  -->
    <link href="{{ STATIC_URL }}min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}min/custom-min.css" type="text/css" rel="stylesheet" >
    <style type="text/css">
    	.left{
          width : 50%;
          display: inline-block;
          margin-left:auto;
          margin-right: auto;
        }
        .right{
          display: inline-block;
          margin-left:auto;
          margin-right: auto;
        }
    </style>
    <script type="text/javascript">
      var s=0;
      {% if error == 1 %}
          alert("You have entered invalid details.Please enter again");
      {% endif %}
      function getRadioValue(name)
          {
              console.log("HERE");
              for (var i = 0; i < document.getElementsByName(name).length; i++)
              {
                  if (document.getElementsByName(name)[i].checked)
                  {
                      return document.getElementsByName(name)[i].value;
                  }
              }
          }

      function ask(inputid, outputid)
      {
          var textin = document.getElementById(inputid);
          var reply = textin.value;
          if(reply.length==0 && s!=4){
              response="nigga enter something";
              return;
          }
          function addit(s,val,key)
          {

                      var f=document.getElementById("finalform");
                      f.innerHTML+="<div class='form-group'><p><label class='teal-text'><h4 class='blue-grey-text text-darken-1'>"+s+"</h4></label></p>"+"<input class='form-control' name='"+key+"' type='text' id='"+key+"' value='"+val+"'/>";
          }
          var log = document.getElementById(outputid);
          switch (s)
          {
              case 0:{
                  names=reply.split(" ");
                  if(names.length==1) {
                      response = names[0] + " is your first name. What's your last name?";
                      first_name = names[0];
                      addit("First name",first_name,"first_name");
                      s=1;
                  }
                  else{
                      response="May I know your age?";
                      first_name=names[0];
                      addit("First name",first_name,"first_name");
                      last_name=names[1];
                      addit("Last name",last_name,"last_name");
                      s=2;
                  }
                  break;
              }
              case 1:{
                  response="May I know your age?";
                  last_name=reply;
                  addit("Last name",last_name,"last_name");
                  s=2;
                  break;
              }
              case 2:{
                  s=3;
                  response="What is your DOB? (enter in yyyy-mm-dd format)";
                  age=reply;
                  addit("age",age,"age");

                  break;
              }
              case 3:{

                  response="What is your gender?";
                  document.getElementById("textin").style.display='none';
                  s=4;
                  document.getElementById("kai").style.display='block';

                  dob=reply;
                  addit("dob",dob,"dob");
                  break;
              }
              case 4:{

                 // alert(first_name+last_name+email+zipCode);
                  response = "What is your address?";
                  document.getElementById("textin").style.display='block';
                  document.getElementById("kai").style.display='none';

                  if(getRadioValue("student")=="M"){//reply == 'Yes' || reply == 'yes' || reply == 'YES'){
                      g="M";
                      s=5;
                  }
                  else{
                      g="F";
                      s=5;
                  }
                  var f=document.getElementById("finalform");
                  f.innerHTML+="<div class='form-group' style='visibility:hidden'><p><label class='teal-text'><h4 class='blue-grey-text text-darken-1'>"+s+"</h4></label></p>"+"<input class='form-control' name='gender' type='text' id='gender' value='"+g+"'/>";
                  break;
              }
              case 5:{
                  response = 'What is your Phone Number?';
                  address = reply;
                  addit("address",address,"address");
                  s=6;
                  break;
              }
              case 6:{
                  response = 'All done.';
                  phone_number = reply;
                  addit("phone_number",phone_number,"phone_number");
                  var b=document.getElementById("bttn");
                  b.style.visibility="visible";
                  s=7;
                  break;
              }
              case 7:{
                  alert(first_name+"\n"+last_name+"\n"+dob+"\n"+age+"\n"+g+"\n"+address+"\n"+phone_number);
              }
              /*
              case 7:{
                  response = 'all done. Type anything to be amazed';
                  endyear = reply;
                  addit("End Year",endyear,"endyear");
                  s=8;
                  break;
              }
              case 8:{
                  alert("First Name:"+first_name+"\nLast Name:"+last_name+"\nCountry:"+country+"\nState:"+stateName+"\nCity:"+cityName+"\nCollege:"+College+"\nStart Year:"+startyear+"\nEnd year:"+endyear);
                  s=12;
                  break;
              }
              case 9:{
                  jobtitle=reply;
                  response = 'Which company?';
                  addit("Job Title",jobtitle,"jobtitle");
                  s=10;
                  break;
              }
              case 10:{
                  company=reply;
                  addit("Company",company,"company");
                  response= 'all done. Type anything to be amazed';
                  var b=document.getElementById("bttn");
                  b.style.visibility="visible";
                  s=11;

                  break;
              }
              case 11:{
                  alert("First Name:"+first_name+"\nLast Name:"+last_name+"\nCountry:"+country+"\nState:"+stateName+"\nCity:"+cityName+"\nCompany:"+company+"\nJob title:"+jobtitle);
                  response = 'Are you over 18. Yes or No?';
                  s=12;
                  break;
              }
              case 12:{

              }
              */
          }

          textin.value="";
          log.innerHTML="<h5><p>"+response+"</p></h5>";
          }
          function finalsave(){
              var first_name = document.getElementById("first_name").value;
              var last_name = document.getElementById("last_name").value;
              var age = document.getElementById("age").value;
              var gender = g;
              var dob = document.getElementById("dob").value;
              var address = document.getElementById("address").value;
              var phone_number = document.getElementById("phone_number").value;
              alert(first_name+"\n"+last_name+"\n"+dob+"\n"+age+"\n"+g+"\n"+address+"\n"+phone_number);
          }
    </script>
</head>
<body id="top" class="scrollspy default_color" style="overflow-y:hidden;">
	 <div class="navbar-fixed">
	    <nav id="nav_f" class="default_color" role="navigation">
	        <div class="container">
	            <div class="nav-wrapper">
	               <a href="#" id="logo-container" class="brand-logo center">JustTheJob</a>
	            </div>
	        </div>
	    </nav>
	</div>
  <hr>
      <div class = "left" style="overflow:scroll; height:600px; overflow-x:hidden;">
        <div style="padding: 50px">
          <form id="finalform" class="white-text" action="/chat/personal" method="post">
            {%   csrf_token %}
          <div>
                <input type="submit" class="red darken-1 waves-effect waves-light btn" id="bttn"  style="visibility:hidden"/>
            </div>
          </form>
        </div>
      </div>
      <div class="right" style="padding:50px">
        <div class="card-panel hoverable white">
          <div class="card-content teal-text">
            <div class="row">
              <center>
                <div id="log" >
                  <h5><p class="teal-text">What is your name?</p></h5>
                </div>
              </center>
              <p>
                <center><input id="textin" type="text" class="teal-text" name=input style="width:300px;" /></center> <br>
                <div align="center">
                  <button id="btn" class="red darken-1 waves-effect waves-light btn-large" onclick="ask('textin','log')">Send</button>
                </div>
                <br>
                <div id="kai" style="display:none">
                  <center>
                    <form action="#">
					    <p>
					      <input name="student" type="radio" id="test1" value="M" />
					      <label for="test1">Male</label>
					    </p>
					    <p>
					      <input name="student" type="radio" id="test2" value="F" />
					      <label for="test2">Female</label>
					    </p>
					  </form>
                  </center>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
